**/target/
**/out/

.idea/
.metadata/
*.iml
*.ipr
*.iws
.vscode/

.DS_Store
Thumbs.db

*.log
*.class
*.jar
*.war

uploads/

.project
.classpath
**/.settings/

# Maven wrapper files to keep
!/.mvn/wrapper/maven-wrapper.jar
!/.mvn/wrapper/maven-wrapper.properties
!/mvnw
!/mvnw.cmd


**/persistence.xml
